.calendar-container {
	float: left;
	width: 700px;
}

.calendar-menu {
	float: left;
	width: 100%;
	background-color: #F4F4F4;
	border-bottom: 2px solid #DFDFDF;
}

.add-edit-event {
	float: left;
	width: 40%;
	box-sizing: border-box;
	margin: 50px 0px 10px 20px;
}

.add-edit-event button:first-child {
	margin-right: 5px;
}

.search-event {
	float: right;
	width: 40%;
	box-sizing: border-box;
	margin: 50px 10px 10px 20px;	
}

.search-event-group {
	position: relative;
}

.show-search-result-container {
	display: none;
	position: absolute;
	top: 44px;
	width: 100%;
	max-height: 250px;
	border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.show-search-result-container::before {
	content: "";
	position: absolute;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0,0,0,0.45);
	left: 20px;
	top: -10px;
}

.show-search-result-container::after {
	content: "";
	position: absolute;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #fff;
	left: 20px;
	top: -9px;
}

.search-result-list {
	width: 100%;
	max-height: 240px;
	margin: 0px;
	padding: 5px;
	overflow-y: auto;
    background: #fff;
}

.item-result {
	float: left;
	width: 100%;
	background-color: #fff;
}

.result {
	float: left;
	width: 100%;
	cursor: pointer;
}

.result:hover {
	background-color: #00BFFF;
}

.result:hover > p {
	color: #fff;
}

.line-separetor-result {
	float: left;
	width: 100%;
	height: 1px;
	margin: 2px 0;
	background-color: #DFDFDF;
}

.result-occasion {
	position: relative;
	display: block;
	overflow: hidden;
    white-space: nowrap;
	width: 100%;
	margin: 0px;
	color: #000;
}

.result-date {
	position: relative;
	display: block;
	overflow: hidden;
    white-space: nowrap;
	width: 100%;
	margin: 0px;
	color: #A9A9A9;
	font-size: 11px;
}

.result > p:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
    background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 80%)
}

.result:hover > p:after {
	content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
	background: -webkit-linear-gradient(left, rgba(0,191,255,0), rgba(0,191,255,1) 80%);
    background: -moz-linear-gradient(left, rgba(0,191,255,0), rgba(0,191,255,1) 80%);
    background: -o-linear-gradient(left, rgba(0,191,255,0), rgba(0,191,255,1) 80%);
    background: linear-gradient(to right, rgba(0,191,255,0), rgba(0,191,255,1) 80%)
}

.select-date-btn-container {
	float: left;
	margin: 0 0 10px 20px;
}

.select-date-btn-container .select-date-btn {
	margin: 0 5px;
    background-color: #fff;
    border-color: #DFDFDF;
    color: #000;	
}

.select-date-btn-container .show-current-date {
	display: inline-block;
}

.show-current-date {
	width: 110px;
	text-align: center;
}

.calendar {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	font-size: 12px;
}

.calendar .days {
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #DFDFDF;
}

.calendar .days:hover {
	background-color: #B0E0E6;
}

.calendar .dayselected {
	background-color: #6495ED;
}


.days .number {
	float: left;
	font-weight: bold;
} 

.days .title {
	float: left;
	margin-right: 5px;
	color: #808080;
}

.days .occasion {
	color: #00BFFF;
}