.calendar-container {
	float: left;
	width: 770px;
}

.calendar-menu {
	float: left;
	width: 100%;
	background-color: #F4F4F4;
	border-bottom: 2px solid #DFDFDF;
}

.add-edit-event {
	float: left;
	position: relative;
	width: 40%;
	box-sizing: border-box;
	margin: 50px 0px 10px 20px;
}

.form-container {
	display: block;
	position: absolute;
	width: 250px;
	height: 250px;
	z-index: 1;
	background-color: #fff;
	border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.form-container-btn {
	top: 44px;
}
.form-container-day {
	top: 0px;
	left: 120px;
}

.form-container::before {
	content: "";
	position: absolute;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0,0,0,0.45);
	left: 20px;
	top: -10px;
}

.form-container::after {
	content: "";
	position: absolute;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #fff;
	left: 20px;
	top: -9px;
}


.form-container-day::before {
	content: "";
	position: absolute;
	border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0,0,0,0.45);
    border-left: none;
    left: -10px;
    top: 20px;
}

.form-container-day::after {
	content: "";
	position: absolute;
	border-top: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid #fff;
	border-left: none;
	left: -9px;
	top: 20px;
}



.form-container .form-group {
	margin: 5px 10px;
}

.btn-close-form {
	float: right;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
    background: none;
}

.btn-create-event, .btn-delete-event {
	background: none;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	margin: 0;
	padding: 2px 5px;
	font-size: 11px;
}

.btn-delete-event {
	margin: 0 0 0 5px;
}

.add-edit-event button:first-child {
	margin-right: 5px;
}

.search-event {
	float: right;
	width: 40%;
	box-sizing: border-box;
	margin: 50px 10px 10px 20px;	
}

.search-event-group {
	position: relative;
}

.show-search-result-container {
	display: none;
	position: absolute;
	top: 44px;
	width: 100%;
	max-height: 250px;
	border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.show-search-result-container::before {
	content: "";
	position: absolute;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0,0,0,0.45);
	left: 20px;
	top: -10px;
}

.show-search-result-container::after {
	content: "";
	position: absolute;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #fff;
	left: 20px;
	top: -9px;
}

.search-result-list {
	width: 100%;
	max-height: 240px;
	margin: 0px;
	padding: 5px;
	overflow-y: auto;
    background: #fff;
}

.item-result {
	float: left;
	width: 100%;
	background-color: #fff;
}

.result {
	float: left;
	width: 100%;
	cursor: pointer;
}

.result:hover {
	background-color: #00BFFF;
}

.result:hover > p {
	color: #fff;
}

.line-separetor-result {
	float: left;
	width: 100%;
	height: 1px;
	margin: 2px 0;
	background-color: #DFDFDF;
}

.result-occasion {
	position: relative;
	display: block;
	overflow: hidden;
    white-space: nowrap;
	width: 100%;
	margin: 0px;
	color: #000;
}

.result-date {
	position: relative;
	display: block;
	overflow: hidden;
    white-space: nowrap;
	width: 100%;
	margin: 0px;
	color: #A9A9A9;
	font-size: 11px;
}

.result > p:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
    background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 80%)
}

.result:hover > p:after {
	content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
	background: -webkit-linear-gradient(left, rgba(0,191,255,0), rgba(0,191,255,1) 80%);
    background: -moz-linear-gradient(left, rgba(0,191,255,0), rgba(0,191,255,1) 80%);
    background: -o-linear-gradient(left, rgba(0,191,255,0), rgba(0,191,255,1) 80%);
    background: linear-gradient(to right, rgba(0,191,255,0), rgba(0,191,255,1) 80%)
}

.select-date-btn-container {
	float: left;
	width: 100%;
	margin: 7px 0;
}

.select-date-btn-prev,
.select-date-btn-next,
.select-date-btn-today {
	margin: 0;
	padding: 1px 4px;
    background-color: #fff;
    border-color: #DFDFDF;
}

.select-date-btn-today {
	margin-left: 5px;
}

.select-date-btn-container .show-current-date {
	display: inline-block;
}

.show-current-date {
	width: 110px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.calendar {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	font-size: 12px;
}

.days-list-container {
	float: left;
	width: 100%;
}

.days {
	float: left;
	position: relative;
	box-sizing: border-box;
	width: 110px;
	height: 110px;
	border: 1px solid #DFDFDF;
	font-size: 12px;
	padding: 5px;
}

.current_day {
	background-color: #D3D3D3;
	color: #696969;
	font-weight: bold;
}

.event {
	background-color: #87CEEB;
	border: 1px solid #87CEEB;
}

.highlight {
	border: 1px solid #00BFFF;
}

.title-day {
	float: left;
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

.title-day-title, .title-day-number {
	float: left;
	color: #808080;
	margin: 0;
}

.title-day-title {
	margin: 0 5px 0 0;
}

.event-day > p {
	float: left;
	width: 100%;
	margin: 0;
}

.event-day-occasion {
	font-weight: bold;
}